.html,body{
    /* background-color:rgb(222, 233, 222); */
    background-color: #f2f2f5;
    /* background-image: url('https://img.zimei.fun/202207070915167.png');
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    background-size: 100% 100%; */
}
.card{
    border-radius: 0.5rem;
}